@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

h1, h2, h4, h5, h6, p, a, span{
    color: white;
}

h1, h2{
    font-size: 52px;
    font-weight: 900;
}

h5{
    font-weight: 400;
    line-height: 1.75;
    max-width: 550px;
    text-align: center;
}

h6{
    font-size: 18px;
    font-weight: 500;
}

.container{
    padding: 80px 0;
    margin: 0 32px;
}

ul{
    list-style-type: none;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.nav{
    background-color: #3c0d99;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.nav__container{
    width: 100%;
    max-width: 1500px;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img{
    background-color: #3c0d99;
    height: 40px;
    width: 40px;
}

.logo__text{
    font-size: 28px;
    font-weight: bold;
    margin-left: 12px;
}

.nav__link--container{
    display: flex;
    align-items: center;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    margin: 0 28px;
    text-decoration: none;
    padding: 2px 0;
    border-bottom: 2px solid #3c0d99;
    transition: border-bottom 300ms ease;
}
.nav__link:hover{
    border-bottom: 2px solid white;
}

.btn{
    border-style: none;
    color: white;
    background-color: #742cff;
    border-radius: 4px;
    transition: background-color 300ms ease;
    cursor: pointer;
}
.btn:hover{
    background-color: #6415ff;
}

.nav__btn{
    font-size: 16px;
    padding: 12px 36px;
}

header{
    height: calc(100vh - 120px);
    background-color: #3c0d99;
    display: flex;
    justify-content: center;
}

.header__container{
    width: 100%;
    max-width: 1400px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
}

.header__info--wrapper{
    width: 40%;
}


.header__img--wrapper{
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header__title{
    margin: 16px 0;
}

.header__para{
    margin: 16px 0;
}

.header__btn{
    font-size: 16px;
    
    padding: 24px 40px;
    margin: 16px 0;
}

.header__img{
    width: 100%;
    max-width: 70vh;
}

#features{
    background-color: #3c0d99;
}

.section__title{
    margin: 24px 0;
}

.section__desc{
    margin-bottom: 48px;
    font-size: 18px;
}

.features__grid{
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    width: 100%;
    max-width: 1000px;
}

.features__container{
    margin: 0 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.features__img--wrapper{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0;
}

.features__img{
    width: 40%;
    height: 40%;
}

.features__title{
    margin: 16px 0;
    font-size: 24px;
    letter-spacing: 2px;
}

.features__para{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

#pricing{
    background-color: #3c0d99;
    position: relative;
}

#pricing::after{
    position: absolute;
    width: 100%;
    height: 450px;
    content: "";
    bottom: 0;
    background-color: white;
}

.pricing__wrapper{
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.pricing__container{
    width: calc(100% / 3);
    margin: 24px;
    background-color: white;
    border-radius: 8px;
    padding: 32px 32px;
    box-shadow: 0 0 25px -20px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__info--container{
    margin-bottom: 64px;
}

.pricing__title--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mp-tag{
    padding: 6px 16px;
    color: #22543d;
    background-color: #9ae6b4;
    font-weight: 500;
    font-size: 15px;
    border-radius: 4px;
}

.pricing__title{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
}

.pricing__price--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.pricing__price{
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.price-text-large{
    color: black;
    font-size: 36px;
}

.price-text-grey{
    color: #808080;
    text-decoration: line-through;
    font-weight: 400;
}

.pricing__desc{
    color: rgb(46, 46, 46);
    line-height: 1.5;
    font-size: 17px;
    max-width: 250px;
    font-weight: 500;
    margin-bottom: 64px;
}

.pricing__benefits--container{
    display: flex;
    align-items: center;
}

.tick-icon{
    border-radius: 50%;
    color: white;
    font-size: 12px;
    background-color: #6415ff;
    padding: 5px;
    margin-right: 10px;
}

.pricing__benefit{
    color: #3c0d99;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 500;
}

.pricing__btn{
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
}

.more-info__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 64px 32px;
}

.more-info__row:nth-child(even){
    flex-direction: row-reverse;
}

.more-info__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.more-info__info{
    width: 50%;
    padding: 0 16px;
}

.more-info__img-container{
    width: 40%;
    padding: 0 16px;
}

.more-info__img{
    width: 100%;
    max-width: 70vh;
}

.feature-quality{
    color: #742cff;
    font-weight: 600;
}



.more-info__title{
    color: rgb(54, 54, 78);
    margin-bottom: 24px;
}

.more-info__para{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 1.5;
    color: rgb(60, 60, 60);
}

.more-info__btn{
    padding: 12px 16px
}

#testimonial{
    background-color: #3c0d99;
}

.testimonial__box{
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 72px 96px;
}

.quote-img{
    position: absolute;
    font-size: 25px;
    color: #3c0d994d;
    transform: translateX(-150%);
}

.testimonial__para{
    color: black;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: justify;
}

.testimonial__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__container{
    display: flex;
    align-items: center;
}

.testimonial__img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.testimonial__name{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom:4px;
}

.testimonial__role{
    color: rgb(92, 92, 92);
    font-size: 14px;
}

.testimonial__nav{
    font-size: 25px;
    color: black;
    background-color: white;
    border-style: none;
    opacity: 0.3;
    transition: opacity 300ms ease;
    margin: 16px;
}

.testimonial__nav:hover{
    opacity: 1;
}

#faq{
    background-color: #3c0d99;
}


.faq__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.faq__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    margin: 16px 0;
}

.collapsible__btn{
    width: 100%;
    border-style: none;
    background-color: #3c0d99;
    border-bottom: 2px solid #742cff;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-bottom 300ms ease;
}

.collapsible__btn:hover{
    border-bottom: 2px solid #6415ff;
}

.collapsible__btn i{
    transition: transform 300ms ease-in-out;
    display: none;
}

.collapsible__btn:hover i{
    transform: rotateZ(180deg);
}

.faq-content{
    font-size: 16px;
    color: white;
    margin: 16px 8px;
}


#footer{
    background-color: #1a202c;
    display: flex;
    justify-content: center;
}

.footer__container{
    display: flex;
    flex-direction: column;
    padding: 72px 72px 24px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.footer__row{
    display: flex;
    justify-content: space-between;
}

.footer__info{
    width: 25%;
}

.footer__company{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.footer__company--text{
    color: white;
    font-size: 15px;
}

.footer__logo--container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 24px;
}

.footer__logo--img{
    background-color: #3c0d99;
    height: 35px;
    width: 35px;
}

.footer__logo--text{
    font-size: 18px;
    font-weight: bold;
}

.footer__address{
    line-height: 2;
    font-size: 15px;
    margin-bottom: 24px;
}

.footer__social--links{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.footer__social--link{
    margin-right: 16px;
    background-color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 50%;
}

.footer__heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;
}

.footer__links--column{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    width: 25%;
}

.footer__links{
    display: flex;
    flex-direction: column;
}

.footer__links li{
    margin-bottom: 12px;
}

.footer__link{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 300ms ease;
    padding-bottom: 4px;
    margin-bottom: 8px;
    text-decoration: none;
}

.footer__link:hover{
    border-bottom: 2px solid white;
}

hr{
    background-color: rgb(92,92,92);
    height: 1px;
    border: none;
}